body {
    font-family: 'Courier New', monospace; /* Change the font to Courier New */
    margin: 0;
    background-color: #1e1e1e;
    color: #ffffff;
    height: 100vh;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}

nav {
    background-color: #2d2d2d;
    padding: 10px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

li {
    margin-right: 50px;
}

a {
    text-decoration: none;
    color: #fff;
    font-size: 16px;
}

h1 {
    color: #88d8b0;
    font-family: 'Courier New', sans-serif;
    text-align: center;
}

#editor-container {
    display: flex;
    height: 100%; /* Set the height to fill the entire container */
    margin-bottom: -100px; /* Adjust the negative margin as needed */
    margin-left: 40px;
    margin-right: 40px;
}


#lineNumbers {
    width: 50px;
    font-size: 16px;
    font-family: 'Courier New', monospace; /* Change the font to Courier New */
    background-color: #333;
    color: #fff;
    border-right: 1px solid #555;
    overflow-y: scroll;
    height: 80%;
    text-align: right;
    scrollbar-color: transparent transparent;
    -ms-overflow-style: none;
    scrollbar-width: none;
    box-sizing: border-box;
    margin-right: 1px;
}

#textInput {
    flex: 2;
    font-size: 16px;
    font-family: 'Courier New', monospace; /* Change the font to Courier New */
    background-color: #333;
    color: #fff;
    border: 1px solid #555;
    overflow-y: scroll;
    resize: none;
    height: 80%;
    box-sizing: border-box;
    margin: 0px;
}

#button-container {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

button {
    margin: 0 10px;
    font-size: 16px;
    background-color: #88d8b0;
    color: #262424;
    border: none;
    cursor: pointer;
    min-width: 150px;
    min-height: 40px;
}

#output {
    font-family: 'Courier New', monospace;
    background-color: #333;
    color: #fff;
    padding: 10px;
    overflow-y: scroll;
    height: auto;
    min-height: 150px;
    box-sizing: border-box;
    border: 1px solid #555;
}

#console {
    margin-right: 40px;
    margin-left: 40px;
}

#languageTranslationOutput {
    flex: 1;
    font-size: 16px;
    font-family: 'Courier New', monospace; /* Change the font to Courier New */
    background-color: #333;
    color: #fff;
    border: 1px solid #555;
    overflow-y: scroll;
    resize: none;
    height: 80%;
    box-sizing: border-box;
    margin-left: 5px;
    scrollbar-color: transparent transparent;
    scrollbar-width: thin;
    -ms-overflow-style: none;
}
#lineNumbers::-webkit-scrollbar {
    width: 12px; /* Set the width of the scrollbar */
}

#lineNumbers::-webkit-scrollbar-thumb {
    background-color: transparent; /* Make the thumb (handle) transparent */
}

#lineNumbers::-webkit-scrollbar-track {
    background-color: transparent; /* Make the track (the area the thumb moves along) transparent */
}

#languageTranslationOutput::-webkit-scrollbar {
    width: 12px; /* Set the width of the scrollbar */
}

#languageTranslationOutput::-webkit-scrollbar-thumb {
    background-color: transparent; /* Make the thumb (handle) transparent */
}

#languageTranslationOutput::-webkit-scrollbar-track {
    background-color: transparent; /* Make the track (the area the thumb moves along) transparent */
}