body {
    font-family: 'Comic Sans MS', cursive, sans-serif;
    margin: 0;
    padding: 20px;
    background-color: #f2f2f2;
    color: #333;
    height: 100vh;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}

h1 {
    color: #1f1c1c;
    font-family: 'Marker Felt', sans-serif;
    text-align: center; /* Center text within its container */
}

#editor-container {
    display: flex;
    flex: 1;
}

#lineNumbers {
    width: 50px;
    font-size: 16px;
    font-family: 'Comic Sans MS', cursive, sans-serif;
    background-color: #ffec99;
    color: #333;
    border-right: 1px solid #333;
    overflow-y: scroll;
    height: 80%;
    text-align: right;
    scrollbar-color: transparent transparent;
    -ms-overflow-style: none;
    scrollbar-width: none;
    box-sizing: border-box;
    margin-right: 1px;
}

#textInput {
    flex: 1;
    font-size: 16px;
    font-family: 'Comic Sans MS', cursive, sans-serif;
    background-color: #ffec99;
    color: #333;
    border: 1px solid #333;
    overflow-y: scroll;
    resize: none;
    height: 80%;
    box-sizing: border-box;
}

button {
    margin-top: 10px;
    padding: 10px;
    font-size: 16px;
    background-color: #88d8b0;
    color: #fff;
    border: none;
    cursor: pointer;
}

#output {
    margin-top: 20px;
    font-family: 'Comic Sans MS', cursive, sans-serif;
}
